.nav {
  display: flex;
  background-color: hwb(160 19% 36%);
  color: #fff;
  height: px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1rem;
}

.links {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.links li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}